extends layout

block content
  h1= title
  p Welcome to #{title}
  table(
      border=1
  )
    tr
        th ID
        th Name
        
    each item in alist
        tr(
             onclick="window.location.href=\"./alliances/#{item.id}\""
        )
            td #{item.id}
            td #{item.name}
            
