extends layout

block content
  h1= title
  p Welcome to #{title}
  table(
      border=1
  )
    tr
        th ID
        th Name
        th Email
        th Alliance ID
    each item in ulist
        tr(
            onclick="window.location.href=\"./users/#{item.id}\""
        )
            td #{item.id}
            td #{item.name}
            td #{item.email}
            td #{item.alliance_id}
